@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-black: #171717;
  --color-violet: #62306a;
  --color-red: #ce2525;
  --color-beige: #FEFAEC;
  --color-blue: #87D1E6;
  --color-yellow: #F9D333;
  --color-orange: #FF5F0F;

  --dropdown-link-color: #212529;
  --copy-link-color: #D65C85;
  --copy-link-color-hover: #333366;

  --bg-copy: #1e1e1e;

  --family-heebo: "Heebo", sans-serif;
  --family-montserrat: "Montserrat", sans-serif;
  --family-poppins: "Poppins", sans-serif;
  --family-alata: "Alata", sans-serif;
  --familyRobotoSlab: "Roboto Slab", serif;

  --dropdown-item-padding-x: 1rem;
  --dropdown-item-padding-y: 0.25rem;

  --navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--family-poppins);
  font-size: 16px;
}

a {
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}
.container-xl {
  max-width: 1320px;
}
.container--md {
  max-width: calc(968px + 1.125rem + 1.125rem);
}
.container-full {
  width: 100%;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section-text {
  font-size: 1.6rem;
  line-height: 2;
}

@media (max-width: 767px) {
  .faq .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Bg */
.bg-violet {
  background-color: var(--color-violet);
  color: var(--color-white);
}
.bg-beige {
  background-color: var(--color-beige);
}
.bg-blue {
  background-color: var(--color-blue)
}
.bg-yellow {
  background-color: var(--color-yellow);
}
.bg-orange {
  background-color: var(--color-orange);
  color: var(--color-white);
}

/* Typography */

h1 {
  font-weight: 900;
  line-height: 1.2;
  font-family: var(--family-poppins);
}
h2 {
  font-size: 2.2rem;
  font-family: var(--family-alata);
  font-weight: 600;
}
h2.big {
  font-family: var(--family-poppins);
  letter-spacing: 1.3px;
}
h3 {
  font-size: 1.75rem;
  font-family: var(--family-heebo);
  font-weight: 600;
  line-height: 1.2;
}
h3.big {
  font-size: 2rem;
  font-family: var(--family-alata);
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: 1.4;
}
h4 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--family-montserrat);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
}


.faq h3 {
  padding-top: 5px;
  font-size: clamp(20px, 2.5vw, 30px); 
}

p {
  font-family: var(--family-heebo);
  letter-spacing: 0.2px;
  margin-bottom: 1rem;
}


.family-roboto-slab {
  font-family: var(--familyRobotoSlab);
}
.family-alata {
  font-family: var(--family-alata);
}
.family-poppins {
  font-family: var(--family-poppins);
}
.text-medium {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  h2.big {
    font-size: 2.375rem;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  h1 {
    font-size: 35px;
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  h1 {
    font-size: 45px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: clamp(2.5625rem, 0.2188rem + 4.8828vw, 4.125rem);
  }
  h2.big {
    font-size: 4.375rem;
  }
}

/* Buttons */
.btn {
  display: inline-flex; 
  align-items: center;
  padding: 12px 24px;
  line-height: 1;
  font-size: 15px;
  border-radius: 25px;
}
.btn--black-white {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Increase-mobility */
@keyframes bannerTitleWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes bannerTitle {
  0% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
@keyframes bannerTitleText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
   /* Adjust this value to control the aspect ratio */
}
.bannerImage {
  object-fit: cover;
  object-position: center;
}
.bannerContent {
  position: absolute;
  color: var(--color-white);
  z-index: 2;
  max-width: 600px;
  
}
.bannerTitle {
  position: relative;
  width: 0;
  overflow: hidden;
  animation: bannerTitleWidth 0.25s ease-in forwards;
}
.bannerTitle:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  animation: bannerTitle 0.5s ease-in 0.25s forwards;
}
.bannerSubTitle {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.bannerSubTitle p {
  font-weight: 100;
  line-height: 1.14;
}
.bannerTitleArrow {
  position: relative;
  top: 10px;
  flex-shrink: 0;
  width: 20px;
}
.bannerTitleArrowImg {
  position: relative;
  width: 0;
  animation: bannerTitleWidth 0.25s ease-in 0.5s forwards;
}
.bannerTitleArrowImg img {
  display: block;
}
.bannerTitleArrowImg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--color-white);
  animation: bannerTitle 0.25s linear 0.75s forwards;
}
.bannerSubTitleText {
  opacity: 0;
  animation: bannerTitleText 0.25s linear 1s forwards;
}
@media (max-width: 767px) and (orientation: landscape) {
  .bannerSubTitle { 
    font-size: clamp(0.9375rem, 0.7273rem + 0.6993vw, 1.0625rem);
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  .bannerSubTitle { 
    font-size: clamp(0.9375rem, -0.3409rem + 5.4545vw, 1.125rem);
  }
}
@media (max-width: 480px) {
  .banner {
    padding-top: 150%; /* Adjust this value to control the aspect ratio for mobile */  
  }
  .bannerImageDesktop {
    display: none;
  }
  .bannerContent {
    top: 35px;
    width: 71%;
    left: 50%;
    transform: translateX(-50%);
  }
  .bannerTitleArrow {
    width: 11px;
  }
}
@media (min-width: 481px) {
  .banner {
    padding-top: 56.25%;;
  }
  .bannerImageMobile {
    display: none;
  }
  .bannerContent {
    top: 25%;
    left: 48%;
    width: 50%;
  }
  .bannerTitle h1 {
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  .bannerSubTitle {
    font-size: clamp(1.0625rem, 0.0313rem + 2.1484vw, 1.75rem);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .banner {
    height: 0;
    padding-top: 64.55%;
  }
}
@media (min-width: 1280px) {
  .banner {
    padding-top: 0;
    height: 800px;
  }
  .bannerContent {
    left: 50%;
    width: 50%;
  }
} 

/* Characes */
.characes {
  padding-top: 3rem;
  padding-bottom: 3px;
}
.charac {
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.characIcon {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.characTitle {
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .characes img {
    width: 96px !important;
    height: auto !important;
  }
}

/* Single patch */
.patchCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 632px;
  margin: 2rem auto 0;
}
.patchCardImage img {
  filter: drop-shadow(0px 5px 5px #999);
}
.patchCard p {
  line-height: 1.2;
}
.patchCard small {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.875rem;
}

/* Testimonial */
.testimonialsTitle {
  font-size: 2.8rem;
}
.testimonial {
  width: 100%;
  max-width: 472px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Slider */
.reviews h2,
.reviews h4 {
  color: #333;
}
.reviews h4 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
}

.slider-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fafafa;
  border: solid 1px #f0f0f0;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.slider-wrap  .slick-slider .slick-dots {
  position: relative;
  bottom: 0;
}
.slider-wrap .slick-dots li button:before {
  content: "";
  width: 14.4px;
  height: 14.4px;
  border-radius: 50%; 
  opacity: 0.2;
  background-color: #000;
  display: block;
}
.slider-wrap .slick-dots li.slick-active button:before {
  opacity: 0.5;
}
.slider-wrap .slick-prev,
.slider-wrap .slick-next {
  width: 30px;
  height: 40px;
  background: rgba(0,0,0,0.3) url(../../public/images/icon_prev.png) no-repeat 50% 50%;
  margin-top: -20px;
  z-index: 10;
  translate: all 0.3s;
  opacity: 0;
}
.slider-wrap:hover .slick-prev,
.slider-wrap:hover .slick-next {
  opacity: 1;
}
.slider-wrap .slick-prev {
  left: 0;
  transform: translate(0);
}
.slider-wrap .slick-next {
  right: 0;
  transform: scale(-1);
}
.slider-wrap .slick-prev:before,
.slider-wrap .slick-next:before {
  display: none;
}
.slider-wrap .slick-prev:hover,
.slider-wrap .slick-next:hover {
  background: rgba(0,0,0,0.8) url(../../public/images/icon_prev.png) no-repeat 50% 50%;
}
@media (max-width: 767px) {
  .reviews h2 {
    font-size: 2.375rem;
    line-height: 1.4;
    letter-spacing: 1.3px;
  }
}
@media (min-width: 992px) {
  .slider-wrap {
    max-width: 66.666667%;
  }
}