.header {
  padding-top: 0.6875rem;
  padding-bottom: 0.6875rem;
  background-color: var(--color-white);
}
.headerContainer {
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  flex: 1;
}
.navList {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly; 
}
.navItem {
  position: relative;
}
.navItem > a {
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  color: var(--dropdown-link-color);
}
.dropdownLink {
  gap: 4px;
}
.dropdownLink:after {
  content: "";
  width: 9px;
  height: 9px;
  background: url(../../../public/images/icon-next.png) no-repeat center center / contain;
  display: block;
}
.dropdownLink:hover + .dropdownMenu,
.dropdownMenu:hover {
  display: block;
}
.dropdownMenu {
  display: none;
  z-index: 10;
}
.dropdownMenu a,
.dropdownMenu button {
  display: block;
  width: 100%;
  padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x);
  white-space: nowrap;  
  text-align: left;
}

.dropdownMenu button {
  cursor: pointer;
}

@media (max-width: 767px) {
  .headerContainer {
    flex-direction: column;
  }
  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navList {
    display: none;
    flex-direction: column;
    text-align: center;
  }
  .hamburger {
    padding: 0.25rem 0.75rem;
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    background-color: var(--color-red);
    border-radius: 0.375rem;
  }
  .hamburgerBar {
    display: block;
    width: 30px;
    height: 30px;
    background-image: var(--navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 10rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--color-white);
    border-radius: 0 0 0.375rem 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .dropdownLink:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: var(--color-white);
    display: block;
    transition: all ease 0.4s;
  }
  .dropdownLink:hover:before{
    width: calc(100% - 40px);
    background-color: var(--dropdown-link-color);
  }
}